
/* GLOBAL =====================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFE8D6;
}

/* CABEÇALHO GERAL ===============*/
.title{
    text-align: center;
    font-weight: 600;
    margin-top: 16px;
    color: #333333;
}

h1{
    font-weight: 400; 
    text-align: center;
    color: #333333;
}

header{
    background-color:#DDBEA9;
    padding: 32px 16px;
}

/* RODAPÉ GERAL ===============*/
footer{
    background: #DDBEA9;
    padding: 32px;
    text-align: center;
    margin-top: 2%;
    width: 100%;
}
.fixo{
    position: fixed;
    bottom: 0;
}


/*=============== INDEX */
/* CABEÇALHO LOCAL ===============*/
.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #503e34;
}


/* CORPO ===============*/
main{
    margin: 2% 5%;
}
#apresentacao{
    text-align: justify;
    margin: 15% 0;
}


/* LINKS ===============*/
.links{
    text-align: center;
    background-color: #3F4238;
    padding: 8px;
}
.mudanca-de-pag{
    padding: 5px;
    text-decoration: none;
}
.mudanca-de-pag:visited{
    color:#faf0e9;
}
.mudanca-de-pag:link{
    color: #FFE8D6;
}
.mudanca-de-pag:hover{
    color: #DDBEA9;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

/* RODAPÉ ===============*/
h4#fr-seguir{
    margin-top: -10px;
}
img.imagemrs{
    width: 50px;
}
table#principal{
    margin: auto;
    margin-top: 20px;
    width: 600px;
}

table#principal td{
    text-align: center;
    padding: 2px;
}  

#tabela-index{
    display: block;
    margin: auto;
    width: 600px;
}
.link-redesSociais{
    text-decoration: none;
    padding: 1px;
}
.link-redesSociais:link{
    color: #3F4238;
}
.link-redesSociais:visited{
    color: #31332b;
}
.link-redesSociais:hover{
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}




/*===============  CONTROLE DE ESTOQUE */
/* TABELA ===============*/

#tabela-estoque{
    display: block;
    margin: auto;

}

table#estoque{
    background-color: #A5A58D;
    border-radius: 5px;
    margin: auto;
}

table#estoque thead th{
    text-align: center;
    padding: 2px;
    color: white;
    background-color: #3F4238;
    border-radius: 5px 5px 0 0;
}


table#estoque tbody td{
    background-color: #b7b7a4;
    text-align: center;
    padding: 2px;
}  

/* RODAPÉ ===============*/
p.logo-rodape{
    font-weight: 200;
}


/*=============== ADICIONAR PRODUTO */
/* FORMULÁRIO ===============*/
#tabela-add{
    display: block;
    margin: auto;
}
table#add-prod{
    margin: auto;
    background-color: #A5A58D;
    border-radius: 5px;
    
}

form{
    margin: 9% 0;
}

table#add-prod tbody td{
    background-color: #b7b7a4;
    padding: 10px;
} 

table#add-prod thead th{
    text-align: left;
    padding: 2px;
    background-color: #3F4238;
}

button{
    margin-left: -62px;
    background-color: #3F4238;
    width: 100px;
    border: none;
    padding: 8px;
    color: #DDBEA9;
    border-radius: 8px;
} 
button:hover{
    background-color:#292b24;
    color: #c7ab98;
    border: 2px white solid;
}

/*===============  Funcionários */
/* lista ===============*/
ul{
    margin: 2% 0 5% 43%;
}

/*=============== carrinho e lista */
/* formulário ===============*/
.div-carrinho{
    display: block;
    margin: auto;
}
.tabela-carrinho{
    margin: auto;
    background-color: #A5A58D;
    border-radius: 5px;
    width: 80%;
    
}
input#desc{
    width: 100%;
    height: 50px;
}

input#preco{
    width: 80px;
}
input#cart{
    margin-left: 2%;
}

.div-carrinho form{
    margin: 9% 0;
}

.tabela-carrinho tbody td{
    background-color: #b7b7a4;
    padding: 10px;
} 

.tabela-carrinho thead th{
    text-align: left;
    padding: 2px;
    background-color: #3F4238;
}

/* botão ver lista ===============*/
section{
    display:block;
    margin: auto;
    background-color: red;
}
#ver-lista{
    background-color: rgb(221, 185, 161);
    padding: 5px 10px;
    border-radius: 5px;
    position: fixed;
    bottom: 16%;
    right: 10px;
    text-decoration: none;
}

#ver-lista:link{
    color: #272922;
}
#ver-lista:visited{
    color: #1e1f1a;
}
#ver-lista:hover{
    font-size: 13pt;
    background-color: rgb(201, 174, 157);
    color: #22241e;

}
#carrinho thead th{
    text-align: center;
    color: white;
}
#carrinho tbody td{
    text-align: center;
}

/*=============== carrinho */
/* Tabela ===============*/


