* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 4rem 1fr;
    height: 100vh;
}

/* ============
= cabeçalho ===
============ */

header {
    height: 100%;
    background: orangered;
}

nav {
    background: gray;
    grid-row: 1 / -1;
}

 nav div {
    padding: 0 2em 2em 1.5em;
}

/* ============
====== main ===
============ */

main {
    width: 95%;
    margin: auto;
    height: 100vh;
}

section {
    margin: 1rem 0;
    display: grid;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

section div {
    display: grid;
    align-items: center;
    justify-content: center;
}

/* === Seção 1 === */

section:first-child {
    height: 35%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* === Seção 2 === */

section:nth-child(2) {
    height: 35%;
    grid-template-columns: repeat(2, 1fr);
    
}

/* === Seção 3 === */

section:last-child {
    height: 20%;
    grid-template-columns: repeat(3, 1fr);
}

/* === Cores === */

.azul {
    background: rgb(0, 162, 255);
}

.amarelo {
    background: yellow;
}

.verde {
    background: rgb(7, 158, 7);
}

.preto {
    background: black;
    color: white;
}

.borda {
    border: 1px black solid;
}

/* === responsividade === */

@media screen and (max-device-width: 1200px) {
    /* === Seção 1 === */
    section:first-child{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .verde{
        grid-column: 1 / -1;
    }
   
    /* === Seção 3 === */
    section:last-child {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .borda:last-child {
        grid-column: 1 / -1;
    } 
}

@media screen and (min-device-width: 421px) and (max-device-width: 800px) {
    nav {
        display: none;
    }
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr;
    }
}

@media screen and (max-device-width: 420px) {
    nav {
        display: none;
    }
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr;
    }
    
    /* === Seção 1 === */
    section:first-child{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    /* === Seção 2 === */
    section:nth-child(2) {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
    }
    
    /* === Seção 1 === */
    section:last-child {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    
}