* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 4rem 1fr;
    height: 100vh;
}

/* ============
= cabeçalho ===
============ */

header {
    height: 100%;
    background: orangered;
}

nav {
    background: gray;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav div:first-child {
    padding: 0 2em 2em 1.5em;
}

nav div:last-child {
    padding: 0 2em 2em 1.5em;
}

/* ============
====== main ===
============ */

main {
    height: 100vh;
}

section {
    display: flex;
}

/* === Seção 1 === */

section:first-child {
    justify-content: space-around;
    height: 35%;
    flex-direction: column;
    margin: 0 0.5rem;
}

.primeiro-bloco {
    height: 100%;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.primeiro-bloco div {
    width: 30%;
    height: 100%;
}

/* === Seção 2 === */

section:nth-child(2) {
    justify-content: space-between;
    height: 35%;
    margin: 0.5rem;
}

/* === Seção 3 === */

section:last-child {
    height: 20%;
    margin: 0.5rem;
    justify-content: space-between;
}

section div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* === Cores === */

.azul {
    background: rgb(0, 162, 255);
}

.amarelo {
    background: yellow;
}

.verde {
    background: rgb(7, 158, 7);
}

.preto {
    background: black;
    color: white;
    width: 49%;
}

.borda {
    border: 1px black solid;
    width: 30%;
}

/* === responsividade === */

@media screen and (max-device-width: 1200px) {
    /* === Seção 1 === */
    .primeiro-bloco {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .primeiro-bloco div {
        width: 100%;
    }
    .verde {
        grid-column: 1 / -1;
    }
    /* === Seção 3 === */
    section:last-child {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .borda {
        width: 100%;
    }
    .borda:last-child {
        grid-column: 1 / -1;
    }
}

@media screen and (min-device-width: 421px) and (max-device-width: 800px) {
    nav {
        display: none;
    }
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr;
        height: 100vh;
    }
}

@media screen and (max-device-width: 420px) {
    nav {
        display: none;
    }
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr;
        height: 100vh;
    }
    /* === Seção 1 === */
    .primeiro-bloco {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }
    /* === Seção 2 === */
    section:nth-child(2) {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    .preto {
        background: black;
        color: white;
        width: 100%;
    }
    /* === Seção 1 === */
    section:last-child {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .borda {
        width: 100%;
    }
}